@font-face {
    font-family: "whitney";
    src: url(/assets/whitneymedium.otf);
}

@font-face {
    font-family: "whitneybold";
    src: url(/assets/whitneybold.otf);
}

p, span {
    font-family: "whitney";
    margin: 0;
    font-weight: 400;
    font-size: 14px;
}

.msg_header {
    margin-bottom: 4px;
}

.author {
    font-family: "whitneybold";
    margin-right: 4px;
}

.authortag {
    font-size: 9px;
    font-family: "whitneybold";
    background-color: rgb(114, 137, 218);
    color: white;
    padding-left: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 4px;
    border-radius: 2px;
}

.timestamp {
    font-size: 12px;
    color: rgb(124, 127, 131);
    vertical-align: bottom;
    margin-left: 4px;
}

.message {
    color: #dcddde;
    font-weight: lighter;
}

.message-middle {
    margin-top: auto;
    margin-bottom: auto;
}

div.bg {
    background-color: #36393f;
    border-radius: 4px;
    margin: 0 auto;
    width: 80%;
    min-height: 50%;
    padding: 16px;
    padding-top: 8px;
    z-index: 1;
}

div.line, div.line-noheader {
    display: flex;
}

div.line-first {
    margin-top: 8px;
}

div.content {
    margin-top: 2px;
}

img.pfp {
    width: 42px;
    max-height: 42px;
    border-radius: 100%;
    margin-right: 14px;
    object-fit: cover;
}

img.fixedsize {
    max-height: 26px;
    margin-top: auto;
    margin-bottom: auto;
}

div.context_menu {
    background-color: #202020;
    border-radius: 2px;
    padding: 6px;
    z-index: 10;
}

button.context_button {
    font-size: 14px;
    background-color: #0000;
    border: 0;
    border-radius: 0px;
    display: block;
    font-family: "whitney";
}

button.context_button:hover {
    transform: initial;
    background-color: #cfcfcf;
    color: black;
    transition-duration: 0.05s;
}

textarea.popup_textin {
    border-width: 1px;
    border: black;
    border-radius: 0px;
    color: black;
    background-color: white;
    width: 256px;
    height: 64px;
}

img.media_img {
    max-width: 400px;
    max-height: 200px;
    margin-top: 4px;
    border-radius: 2px;
    display: block;
}
