@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@keyframes scaleIn {
    0% {
        transform: scale(96%);
    }
    100% {
        transform: scale(100%);
    }
}

html {
    margin:    0 auto;
    max-width: 900px;
    font-family: 'Roboto Condensed';
    animation: 0.2s ease-out 0s 1 scaleIn;
}

body {
    background-color: #f2f2f2;
}

/*h1, h2, h3, h4, h5, h6{
    margin-bottom:0px;
    margin-top:0px;
}*/

h1 {
    margin: 0px;
    font-size: 54px;
    text-align: center;
    color: #0000;
/*     font-family: "Roboto Condensed"; */
    -webkit-text-stroke: 3px #A30002;
}

h2 {
    margin-top: 0px;
    text-align: center;
    color: black;
/*     font-family: "Roboto Condensed"; */
}

h3 {
    color: white;
}

p, label, span {
    color: lightgray;
/*     font-family: "Roboto Condensed"; */
}

span {
    vertical-align: middle;
    margin: 0;
}

a {
    color: #2980B9;
}

div.block {
/*     width: 95%; */
    background-color: #0A0A0A;
    padding-top: 0.2px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
/*     border-style: solid; */
/*     border-width: 1px; */
/*     border-color: grey; */
    position: relative;
    overflow: hidden;
}

div.miniblock {
    /* float: right; */
    margin-left: auto;
    margin-right: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    vertical-align: middle;
}

div.block_inline {
    width: 44%;
    height: 100%;
    margin-bottom: 18px;
    margin-top: 18px;
}

div.block_inline_left {
    float: left;
}
div.block_inline_right {
    float: right;
}

div.block_container {
    height: 480px;
}

div.block_header {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

@media (max-width: 700px) {
    div.block_inline {
        width: initial;
        height: initial;
    }

    div.block_inline_left, div.block_inline_right {
        float: none;
    }

    div.block_inline:not(:last-child) {
        margin-bottom: 18px;
    }

    div.block_container {
        height: initial;
    }

    div.block_header {
        flex-direction: column;
    }

    div.miniblock {
        margin: 0 auto;
    }
}

table.proj_container {
    border-spacing: 6px;
}

div.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

img.block_bg {
    position: absolute;
    top: -28px;
    right: -24px;
    opacity: .15;
    width: 128px;
    height: 128px;
    transform: rotate(20deg);
}

button {
    font-size: 14px;
    background-color: black;
    border-color: #A30002;
    color: white;
    padding: 5px;
    border-radius: 8px;
    border-width: 3px;
    transform: scale(1);
    transition-duration: 0.2s;
    font-family: "Roboto Condensed";
}

button.noticeme {
    font-size: 20px;
    background-color: #4ede52;
    color: black;
    font-weight: bold;
}

button:hover {
    transform: scale(1.2);
    transition-duration: 0.2s;
}

button:disabled {
    filter: brightness(40%);
    border-color: grey;
}

button.button_project {
    width: 6em;
    height: 4em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

img {
    max-width: 480px;
    max-height: 480px;
}

img.screenshot {
    max-width: 100% !important;
    max-height: 100% !important;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.icon {
    width: 20px;
    filter: brightness(85%);
}

img.icon_header {
    max-width: 20px;
    max-height: 20px;
    margin-right: 8px;
    vertical-align: middle;
    filter: brightness(85%);
}

input, textarea {
    background-color: black;
    border-color: #A30002;
    color: white;
    padding: 5px;
    border-radius: 8px;
    border-width: 2px;
    font-family: monospace;
}

#img_in {
    font-size: 10px;
    height: 36px;
    background-color: #36393f;
}

textarea {
    font-family: monospace;
}

select {
    height: 2em;
    font-size: 12px;
}

#p5_loading {
    font-size: 24px;
    font-weight: bold;
}
