@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    margin:    0 auto;
    max-width: 900px;
    font-family: 'Roboto Condensed';
}

body {
    background-color: #f2f7f6;
}

/*h1, h2, h3, h4, h5, h6{
    margin-bottom:0px;
    margin-top:0px;
}*/

h1 {
    margin-bottom: 0px;
    font-size: 54px;
    text-align: center;
    color: #0000;
/*     font-family: "Roboto Condensed"; */
    -webkit-text-stroke: 2px #022e64;
}

h2 {
    margin-top: 0px;
    text-align: center;
    color: black;
/*     font-family: "Roboto Condensed"; */
}

h3 {
    color: #022e64;
/*     font-family: 'Josefin Sans'; */
}

p, label {
    color: black;
/*     font-family: "Roboto Condensed"; */
}

a {
    color: #022e64;
}

div.block {
/*     width: 95%; */
    background-color: #dc965a;
    padding-top: 0.2px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
/*     border-style: solid; */
/*     border-width: 1px; */
/*     border-color: grey; */
    position: relative;
    overflow: hidden;
}

div.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

img.block_bg {
    position: absolute;
    top: -28px;
    right: -24px;
    opacity: .3;
    width: 128px;
    height: 128px;
    transform: rotate(30deg);
}

button {
    background-color: black;
    border-color: #ed254e;
    color: white;
    padding: 5px;
    border-radius: 5px;
/*     box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4), 0 1.5px 5px 0 rgba(0, 0, 0, 0.4); */
    transition-duration: 0.2s;
}

button:hover {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4), 0 4px 12px 0 rgba(0, 0, 0, 0.4);
    transition-duration: 0.2s;
}

button:disabled {
    filter: brightness(40%);
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
    border-color: grey;
}

button.button_project {
    width: 6em;
    height: 4em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

img {
    max-width: 480px;
    max-width: 480px;
}

img.icon {
    width: 20px;
    filter: brightness(85%);
}

img.icon_header {
    max-width: 20px;
    max-height: 20px;
    margin-right: 8px;
    vertical-align: middle;
    filter: brightness(85%);
}

input, textarea {
    background-color: black;
    border-color: #ed254e;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

textarea {
    font-family: monospace;
}

select {
    height: 2em;
    font-size: 12px;
}
